.maket{
    display: flex;
 
}

.main_bar{
    width: 146px;
    height: 1000px;
    background-color: #253D62;
}

.saidbar{
    margin-left: 20px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 60px;
}

.center{
    width: 60px;
    height: 1000px;
    margin-left: -60px;
    border-radius: 67px 0px 0px 67px;
    background-color: white;
}

.account{
    width: 376px;
    height: 1000px;
    position: absolute;
    right: 0%;
    border-radius: 67px 0px 0px 67px;
    background-color: #253D62;
}

#logo{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.var{
    cursor: pointer;
    width: 45px;
    height: 45px;
}

#clickr{
    position: relative;
    z-index: 0;
    background-color: #253D62;
    height: 60px;
    width: 76px;
    border-radius: 20px 0px 0px 20px;
    margin-left: -10px;
    transition: 0.15s;
}

.button1, .button2{
    margin-top: -55px;
    padding-top: 3px;
    padding-left: 6px;

}

.var:hover #clickr{
    background-color: white;
    width: 77px;
}
.var:hover .button2{
    opacity: 0%;
}

.person{
    display: flex;
    font-family: 'Inter', sans-serif;
    color: white;

}

.name{
    margin: 0%;
    margin-top: 10px;
    width: auto;
    height: 20px;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.status{
    width: auto;
    height: 15px;
    font-size: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.n_s{
    margin-left: 20px;
}

.des{
    margin: 0%;
    width: 300px;
    height: 22px;
    color: #FFF;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
}

.info{
    height: 850px;
    margin-top: 70px;
    margin-left: 66px;
    margin-bottom: 100px;
    position: relative;
}

.help{
    position: absolute;
    width: 287px;
    height: 25px;
    color: #FFF;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    bottom: 0;
}
.help1{
    color: #FFF;
    font-size: 14px;
    font-family: Inter;
    font-style:italic;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
}

.exit{
    color: #F09120;
    font-size: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.hr{
    width: 235px; 
    margin:0%; 
    margin-top: 20px;
    color: #FFF;
    border-style: solid;
    border-radius: 100px;
}

#fon{
    width: 800px;
    height: auto;
    border-radius: 48px;
    background: rgba(114, 133, 131, 0.36);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}
.znania{
    width: 225px;
    height: 230px;
    margin-top: 50px;
}
.txt{
    width: 550px;
    text-align: left;
    color: #000;
    font-size: 21px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.folders{
    color: #000;
    text-align: center;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

.folder{
    margin-right: 17px;
    margin-left: 17px;
    cursor: pointer;
}


