<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" >
        <title>Хранилище</title>
        <link rel="stylesheet" type = "text/css" href="css-style\bar.css">
        <link rel="stylesheet" type = "text/css" href="css-style\file_css.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="link rel="preconnect href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body style="margin:0%">
        <div class="maket">
            <div style="display: flex;">
                <div class="main_bar">
                    <div class="saidbar">
                        <a href=""><div id="logo"><img src="images/logomini.svg"></div></a>
                        <a href="account.html"><div class="var">
                            <div id="clickr" ></div>
                            <img class="button1" src="images/home2.svg"  style="position:absolute; margin-left:-0px"> 
                            <img class="button2" src="images/home.svg" style=" position:absolute; ">
                        </div></a>
                        <a href="file.html"><div class="var">
                            <div id="clickr" style="background-color: white;"></div>
                            <img class="button1" src="images/vklad2.svg"  style="position:absolute; margin-left:-0px"> 
                            <img class="button2" src="images/vklad.svg" style=" position:absolute; opacity:0;">
                        </div></a>
                    
                        <a href="account.html"><div class="var">
                            <div id="clickr"></div>
                            <img class="button1" src="images/chat2.svg"  style="position:absolute; margin-left:-0px"> 
                            <img class="button2" src="images/chat.svg" style=" position:absolute">
                        </div></a>
                        <a href="account.html"><div class="var">
                            <div id="clickr"></div>
                            <img class="button1" src="images/dkn2.svg"  style="position:absolute; margin-left:-0px"> 
                            <img class="button2" src="images/dkn.svg" style=" position:absolute">
                        </div></a>
                        <a href="invi.html"><div class="var">
                            <div id="clickr"></div>
                            <img class="button1" src="images/add2.svg"  style="position:absolute; margin-left:-0px"> 
                            <img class="button2" src="images/add.svg" style=" position:absolute">
                        </div></a>
                    </div>
                </div>
                <div class="center"> 
                </div>
            </div>
            <center class="all" >
                <div class="search-bar">
                    <input type="search" class="site-search" placeholder="Поиск">
                    <button class="bsearch"><img class="img_search" src="images/search.svg"></a></button>
                </div>
                <div>
                    <p class="filesname">Последние файлы</p>
                    <div class="files">
                        <div class="onef">
                            <a><img src="images/file.svg"></a>
                            <p>Билеты</p>
                        </div>
                        <div class="onef">
                            <a><img src="images/file.svg"></a>
                            <p>Экзамен</p>
                        </div> 
                        <div class="onef">
                            <a><img src="images/file.svg"></a>
                            <p>Семинар 1</p>
                        </div> 
                        <div class="onef">
                            <a><img src="images/file.svg"></a>
                            <p>Лекция 1</p>
                        </div> 
                        <div class="onef">
                            <a><img src="images/file.svg"></a>
                            <p>Доклад</p>
                        </div> 
                                            
                    </div>
                </div>
                <div>
                    <p class="foldersname">Глобальные папки</p>
                    <div class="files">
                        <div class="onef">
                            <a><img src="images/privat1.svg" class="folderpriv"></a>
                            <p>Группа</p>
                        </div>
                        <div class="onef" >
                            <a><img src="images/privat2.svg" class="folderpriv"></a>
                            <p>Поток</p>
                        </div> 
                        <div class="onef">
                            <a><img src="images/privat3.svg" class="folderpriv"></a>
                            <p>Факультет</p>
                        </div> 
                        <div class="onef">
                            <a><img src="images/privat1.svg" class="folderpriv"></a>
                            <p>ВУЗ</p>
                        </div>               
                    </div>
                </div>
                <div>
                    <p class="foldersname">Приваты</p>
                    <div class="files">
                        <div class="onef">
                            <a><img src="images/privat1.svg" class="folderpriv"></a>
                            <p>Приват 1</p>
                        </div>
                        <div class="onef" >
                            <a><img src="images/privat2.svg" class="folderpriv"></a>
                            <p>Приват 2</p>
                        </div> 
                        <div class="onef">
                            <a><img src="images/privat3.svg" class="folderpriv"></a>
                            <p>Приват 3</p>
                        </div> 
                                      
                    </div>
                </div>
            </center>
        </div>  
    </body>
</html>